<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.uci.accuspeech" >
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RecordActivity" android:screenOrientation="portrait" android:launchMode="singleInstance"/>
        <activity android:name=".PastRecordingsActivity" android:screenOrientation="portrait" android:launchMode="singleInstance"/>
        <activity android:name=".SaveActivity" android:screenOrientation="portrait" android:theme="@style/Box.Dialog"/>
        <activity android:name=".DeleteVerificationActivity" android:screenOrientation="portrait" android:theme="@style/Box.Dialog"/>
        <activity android:name=".RenameActivity" android:screenOrientation="portrait" android:theme="@style/Box.Dialog"/>
        <service android:name=".service.RecordService" android:exported="false"/>
        <service android:name=".service.PlayService" android:exported="false"/>
    </application>

</manifest>
